html, body {margin: 0; padding: 0; font-family: 'Raleway', sans-serif;}

html {
    overflow-x: hidden !important;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
    padding: 1vw;
}

#nav-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;

}

                                                   .button-35 {
                                                       align-items: center;
                                                       background-color: #fff;
                                                       border-radius: 12px;
                                                       box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
                                                       box-sizing: border-box;
                                                       color: #121212;
                                                       cursor: pointer;
                                                       display: inline-flex;
                                                       flex: 1 1 auto;
                                                       font-family: Inter,sans-serif;
                                                       font-size: 1.2rem;
                                                       font-weight: 700;
                                                       justify-content: center;
                                                       line-height: 1;
                                                       margin: 0;
                                                       outline: none;
                                                       padding: 1rem 1.2rem;
                                                       text-align: center;
                                                       text-decoration: none;
                                                       transition: box-shadow .2s,-webkit-box-shadow .2s;
                                                       white-space: nowrap;
                                                       border: 0;
                                                       user-select: none;
                                                       -webkit-user-select: none;
                                                       touch-action: manipulation;
                                                   }

.button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

#ani {
    width: 3vw;
    height: 3vw
}

#nav-icons a {
    margin-right: 1vw;
}

#nav-icons i {
    font-size: 1.5vw;
    margin: 0 0.5vw;
}

#nav-icons i:hover {
    color: #76C7D1;
    cursor: pointer;
}

#name{
    font-size: 2vw;
    margin-top: 1vw;
    margin-left: 1vw;
    padding: 1vw;
    cursor: pointer;
    display: inline-block;
    box-shadow: inset 0 0 0 0 white;
    color: rgba(0, 0, 0, 0.84);
    border-radius: 1vw;
    padding: 1vw;
    transition: color .3s ease-in-out, box-shadow .1s ease-in-out;
}

#name:hover{
    box-shadow: inset 500px 0 0 0 white;
    padding: 1vw;
    color: #76C7D1;
}

#graphs {
    height: calc(100% - 50px); /* Subtract nav height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graph {
    height: available;
    width: 100%;
}
